@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.container-layout {
  width: 1440px;
  margin: 0 auto;
  padding: 0px 101px;
}

.breadcrumb {
  margin-top: 115px;
}


/* Mobile menu styles */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70%; /* Adjust the width as needed */
  background-color: white;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.mobile-menu.open {
  transform: translateX(0);
}

/* Hamburger icon styles */
.mobile-menu-icon {
  cursor: pointer;
  outline: none;
}

/* Work List */
.worklist-card:hover {
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px #00000012;
}

.worklist-card:hover button {
  color: #ffffff;
  background: #f55f1d;
  border-radius: 10px;
}

/* StatList */
.stat-card {
  width: 288px;
  height: 290px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 9px 20px 0px #00000012;
  border-radius: 20px;
}

/* Newsletter */
.newsletter {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 5px;
}

.newsletter input{
  padding: 10px 16px;
}

.newsletter button {
  padding: 8px 24px;
  border-radius: 10px;
  background: #f55f1d;
  height: 52px;
  color: #ffffff;
}

/* Team Member */
.team-member {
  width: 392px;
  border: 1px solid #e3e3e3;
  box-shadow: 0px 4.400000095367432px 20px -1px #1310220d;
  border-radius: 20px;
}

/* .social-icons {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.team-member:hover .social-icons {
  opacity: 1;
} */

/* Breadcrumb */
.navbar-breadcrumb {
  background: #f8f9fc;
  height: 370px;
  position: relative;
  z-index: 1;
}

.navbar-breadcrumb::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 521px;
  height: 370px;
  background-image: url("/Frame\ 8022.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Service Page */
.service-card {
  box-shadow: 1px 4px 30px 0px #00000033;
  border-radius: 10px;
  padding: 40px 30px 46px;
}

.service-card img {
  border-radius: 10px;
  box-shadow: 1px 4px 30px 0px #00000033;
}

/* Project Page */

.project-card {
  padding: 40px 30px 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 30px 0px #00000017;
}

/* Testimonials */
.testimonial-card {
  padding: 48px 23px 50px;
  border-radius: 20px;
  box-shadow: 0px 4px 30px 0px #00000017;
}


/* Footer */
.footer-wrapper hr{
  display: none;
}

@media screen and (max-width: 600px) {
  .container-layout {
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto;
    padding: 0px 20px; /* Adjust the padding as needed */
  }

  .nav-menu {
    display: none;
  }

  .navbar-breadcrumb {
    height: 170px;
  }

  .breadcrumb .title {
    text-align: center;
  }

  .stat-card {
    width: 100%;
    height: 250px;
  }

  .newsletter input{
    padding: 8px 10px;
    font-size: 14px;
    width: 70%;
  }
  
  .newsletter button {
    padding: 5px 16px;
    border-radius: 10px;
    background: #f55f1d;
    height: 36px;
    color: #ffffff;
  }

  .footer-wrapper{
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-logo{
    padding: 0;
  }

  .footer-wrapper p br{
    display: none;
  }
  .footer-wrapper hr{
    display: block;
    width: 50%;
  }

  .brands{
    padding: 20px 20px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    text-align: center;
  }


}
